.main {
  font-family: '微软雅黑';
}
.main p,
.main ul,
.main li {
  padding: 0;
  margin: 0;
}
.main .title {
  text-indent: 1em;
}
.main .content {
  font-size: 14px;
}
.main .content .orderInfo ul {
  /*max-height:410px;*/
  float: left;
  width: 31%;
}
.main .content .orderInfo:after {
  content: '';
  display: block;
  clear: both;
}
.main .content:after {
  content: '';
  display: block;
  clear: both;
}
.main .content li {
  list-style: none;
  line-height: 46px;
}
.main .content li > label {
  width: 90px;
  display: inline-block;
  text-align: right;
  padding-right: 12px;
}
.main .content li select {
  width: 265px;
  height: 26px;
  background: #FFF;
}
.main .content li span > label {
  width: 70px;
  display: inline-block;
}
.main .content li input {
  vertical-align: middle;
}
.main .content li input[type='text'] {
  height: 20px;
  padding-left: 5px;
}
.main .content li input[type='radio'] {
  vertical-align: middle;
  margin-top: -2px;
  margin-bottom: 1px;
}
.main .content li .cancel {
  vertical-align: top;
}
.main .content li textarea {
  margin-top: 15px;
  padding-left: 5px;
}
.main .content li .address select {
  width: 110px;
}
.main .content li span .queryBut {
  padding: 3px 15px 4px 15px;
  background: #2E7FE3;
  color: #FFF;
  border: none;
  margin-left: 15px;
  line-height: 22px;
}
.main .content li span .laydate-icon-default {
  width: 151px;
  padding-left: 5px;
}
.main .content li #addFile {
  width: 90px;
  height: 28px;
  line-height: 28px;
  margin-top: 10px;
  outline: none;
  position: relative;
  padding: 0px;
  z-index: 4;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  cursor: pointer;
}
.main .content li .show_file {
  width: 90px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  float: left;
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  color: #000;
  background: url(../images/upload_ert.png) no-repeat;
  position: absolute;
  left: 0px;
  z-index: 1;
  text-decoration: none;
}
.main .content li .contentFile {
  position: relative;
}
.main .content li .contentFile .save_a {
  height: 30px;
  width: 90px;
  display: inline-block;
  margin-top: 10px;
  position: relative;
  z-index: 1000;
}
.main .content li .contentFile .img_close {
  background: url(../images/close_forget.png);
  width: 25px;
  height: 20px;
  float: right;
}
.main .content li .contentFile #file-list img {
  width: 120px;
  height: 80px;
  border: 1px #dedddd solid;
}
.main .content li .contentFile #file-list li {
  float: left;
  padding: 5px;
}
.main .content li .contentFile #browse {
  height: 0;
  width: 0;
  z-index: -1;
  position: absolute;
  left: 10px;
  top: 5px;
  display: none;
}
.main .content li .contentFile .up_case {
  margin-left: 3px;
  display: inline-block;
  zoom: 1;
  position: absolute;
}
.main .referBut {
  padding-top: 35px;
}
.main .referBut button {
  color: #FFF;
  padding: 5px 35px;
  background: #2E7FE3;
  border: none;
  font-size: 16px;
  font-weight: 500;
  margin-left: 120px;
}
.main .addStyle {
  margin-left: 320px;
}
